{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <h4>Looking for particular product?</h4>
    <a href="/products/search"><button class="btn btn-info">Go to Search</button></a><br>
    <h3>Product List</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">Image</th>
                <th style="text-align: center; vertical-align: middle;">Name</th>
                <th style="text-align: center; vertical-align: middle;">Manufacturer</th>
                <th style="text-align: center; vertical-align: middle;">Price</th>
            </tr>
        </thead>
        <tbody>

            {% for product in product_list %}
            <tr>
                {% if product.photo %}
                <td style="text-align: center; vertical-align: middle;"><a href="/products/{{ product.id }}"><img src="{{ product.photo.url }}" height="50px" width="50px"></a></td>
                {% else %}
                <td style="text-align: center; vertical-align: middle;">No image yet.</td>
                {% endif %}
                <td style="text-align: center; vertical-align: middle;"><a href="/products/{{ product.id }}">{{ product.name }}</a></td>
                <td style="text-align: center; vertical-align: middle;">{{ product.manufacturer }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ product.price }}
                    {% if user.is_authenticated and request.user.myuser.is_customer == True %}
                    <span class="pull-right">
                        <a href="{% url 'add-to-cart' product.id %}" class="btn btn-warning">Add to Cart</a>
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


    {% if is_paginated %}
        <ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
        </ul>
    {% endif %}

{% endblock %}