{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h3>Product Detail</h3>
    <br>
        <h4>{{ object.name }}</h4>
        <p>Manufacturer: {{ object.manufacturer }}</p>
        <p>Price: {{ object.price }}</p>
        <p>Description: {{ object.description }}</p>

        {% if product.photo %}
            <p><img src="{{ product.photo.url }}" height="200px" width="200px"></p>
        {% else %}
            <p>No image yet.</p>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="/products/{{ object.id }}/update"><button class="btn btn-info">Update</button></a>
        <a href="/products/{{ object.id }}/delete"><button class="btn btn-danger">Delete</button></a>
        {% endif %}
    </div>

{% endblock %}