{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <h3>Product Search</h3>
    <form method="GET">
        {% bootstrap_form filter.form %}
        <input type="submit" class="btn btn-default" value="Search">
    </form>


    <h3>Product Search List</h3>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">Image</th>
                <th style="text-align: center; vertical-align: middle;">Name</th>
                <th style="text-align: center; vertical-align: middle;">Manufacturer</th>
                <th style="text-align: center; vertical-align: middle;">Price</th>
            </tr>
        </thead>
        <tbody>

            {% for product in filter.qs %}
            <tr>
                <td style="text-align: center; vertical-align: middle;"><a href="/products/{{ product.id }}"><img src="{{ product.photo.url }}" height="50px" width="50px"></a></td>
                <td style="text-align: center; vertical-align: middle;"><a href="/products/{{ product.id }}">{{ product.name }}</a></td>
                <td style="text-align: center; vertical-align: middle;">{{ product.manufacturer }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ product.price }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}