{% extends "base.html" %}

{% block content %}

 <section>
   <div class="row">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th style="text-align: center; vertical-align: middle;">no.</th>
        <th style="text-align: center; vertical-align: middle;">Item</th>
        <th style="text-align: center; vertical-align: middle;">Price</th>
      </tr>
      {% for item in order.get_order_items %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.product.name }}
            <span class="pull-right">
              <a href="{% url 'delete-from-cart' item.id %}" class="btn btn-warning">
                Remove Item
              </a>
            </span>
          </td>
          <td>{{ item.product.price }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order.get_order_total != None %}
        <td colspan=2>
          <strong class="pull-right">Order Total:</strong>
        </td>
        
        <td colspan= 1>
          $<strong>{{ order.get_order_total }}</strong>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=1 >
          <a href="{% url 'list-product' %}" class="btn btn-warning pull-left">
            {% if order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
          </a>
        </td>
        <td colspan=2>
          {% if order.get_order_items %}
            <a href="" class="pull-right btn btn-info">Proceed To Checkout</a>
          {% endif %}
        </td>
      </tr>
    </table>
     
   </div>
 </section>
{% endblock %}